*{
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}


li{
    padding: 1rem;
    font-size: 1rem;
}
#menubutton{
    font-size: 30px;

}

#menubutton2 {
    font-size: 30px;

}

#topbar{
    background-color: gold;
    height: 5rem;
    width: 100%
}

.info{
    padding-top: 1rem;
    width: 100%;
    position: absolute;
    height: 2rem;
}

#drop-menu {
    border: 1px solid transparent;
    text-align: center;
    background-color: gold;
    margin-left: 2rem;
    margin-top: 1rem;
    color: white;
    height: 2rem;
    width: 2rem;
    z-index: 5;
}

.contact-fixed {
    display: none;

}
.contact-fixed a{
    display: inline-block;
    width: 100%;
    margin: 1rem;
    z-index: 10;
    font-size: 2rem;

}
/*.info:hover .contact-fixed {
    display: block;
}*/


.show{
    display: block;
}

#drop-menu2 {
    border: 1px solid white;
    text-align: center;
    margin-left: 2rem;
    margin-top: 0.5rem;
    background-color: white;
    color: black;
    height: 2rem;
    width: 2rem;

}

#dropdown1{
    background-color: gold;
    width: 100%;
}

#dropdown2{
    background-color: white;
    width: 100%;
    margin-top: 2rem;

}

#logo{
    float: right;
    margin: 0.3rem;
    height: 50px;
    width: 250px;

}

#banner{
    width: 100%;
    margin-top: 1rem;
}

h1{
    float: left;
    margin-left: 7rem;
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

hr{
    width: 75%;
    margin: 6rem;
}

p{
    margin: 4rem;
}

#proefles-button{
    background-color: yellow;
    width: 75%;
    margin-left: 6rem;
    margin-top: 2rem;
    height: 6rem;
    font-size: 3rem;
}

iframe{
    height: 40rem;
    width: 80%;
    margin: 6rem 6rem 6rem 10rem;
}

@media screen and (min-width: 66em){
    #topbar {
    height: 3rem;
}
   #menubutton{
       display: none;
   }
   #menubutton2{
       display: none;
   }
   #drop-menu{
       display: none;
   }
   #drop-menu2{
       display: none;
   }
   .contact-fixed{
       display: block;
   }
   .info div ul li{
       display: inline-block;
       margin-left: 1rem;
   }
   a{
       display: inline-block;
   }
   #textbox1{
       display: inline-block;

   }
    #textbox2{
        display: inline-block;
        margin-bottom: 3rem;

    }
    #textbox3{
        display: inline-block;
        margin-bottom: 3rem;

    }
   h1{
       margin: 2rem;
       font-size: 3rem;
   }
    #proefles-button{
        font-size: 1rem;
        width: 70%;
        height: 3rem;
        margin: 1.5rem 1.5rem 1.5rem 4rem;
    }
    #wrapper{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        margin-left: 10rem;
    }
    hr{
        margin: 2rem;
    }
    #logo {
        float: left;
        margin: 1rem 1rem 1rem 5rem;
        height: 100px;
        width: 400px;

    }
    p{
        font-size:1.5rem;
    }
    ul{
        float: right;
        margin-right: 10rem;
    }
    #desktop-style{
        margin-top: 1rem;
    }
    li{
        padding: .1rem;
        font-size: 1rem;
    }
}
